[Unit]
Description=BadVPN UDPGW on port %i
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/op-optimizer/badvpn.env
ExecStart=/usr/local/bin/badvpn-udpgw --loglevel error --listen-addr ${BIND}:%i --max-clients ${MAXCLIENTS} --max-connections-for-client ${MAX_PER_CLIENT} --client-socket-sndbuf ${SNDBUF}
Restart=always
RestartSec=2
LimitNOFILE=1048576
Nice=-10
CPUSchedulingPolicy=rr
CPUSchedulingPriority=10

[Install]
WantedBy=multi-user.target
